{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Logistics Pro Tools</title>

    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />

  </head>

  <body>

    <div id="wrapper">

      <div id="header">
        <div id="header-left">
          <ul>
            {% block header %}{% endblock header %}
          </ul>
        </div>
        <div id="header-right">
          <ul>
            {% if user.is_authenticated %}
              <li>Hello, <a href="{% url 'users:profile' user.profile.id %}">{% if user.first_name %}{{ user.first_name }}{% else %}{{ user }}{% endif %}. &nbsp</a></li>
              <li><a href="{% url 'users:logout' %}">Log out</a></li>
            {% else %}
              <li><a href="{% url 'users:login' %}">Log in</a></li>
            {% endif %}
          </ul>
        </div>
      </div>

      <div id="toolbar">
        {% if btn_save %}
          <button type="submit" form="data_form" title="Save"><img src="{% static 'img/save.png' %}"></button>
        {% endif %}
        {% if btn_new %}
          <a href="{% url create_url %}" title="New"><img src="{% static 'img/new.png' %}"></a>
        {% endif %}
        {% block toolbar %}{% endblock toolbar %}
      </div>

      <div id="main-content">
        {% block content %}{% endblock content %}
      </div>

    </div>

    <script>

      function docReady(fn) {
          if (document.readyState === "complete" || document.readyState === "interactive") {
              setTimeout(fn, 1);
          } else {
              document.addEventListener("DOMContentLoaded", fn);
          };
      };

      docReady(function() {

        {% block main_js %}{% endblock main_js %}

      });

    </script>

    <br>

  </body>

</html>

