{% extends "base.html" %}
{% load static %}

{% block header %}
  <li>
    <a href="{% url 'shop:orders' %}">Shop</a>
  </li>
  <li id="navItem1">
    <a href="{% url 'invent:summary' %}">Summary</a>
  </li>
  <li id="navItem2">
    <a href="{% url 'invent:list_trucks' %}">Trucks</a>
  </li>
  <li id="navItem3">
    <a href="{% url 'invent:list_trailers' %}">Trailers</a>
  </li>
  <li id="navItem4">
    <a href="{% url 'invent:list_drivers' %}">Drivers</a>
  </li>
  <li id="navItem5">
    <a href="{% url 'invent:list_companies' %}">Companies</a>
  </li>
{% endblock header %}

{% block toolbar %}
  {% if filter_bar %}
    <form method="GET" id="filter-form">
      <button type="submit" class="search-button filter-button" id="search-button">
        <img src="{% static 'img/search.png' %}">
      </button>
      <input class="search-input" type="search" placeholder="Search" name="query" id="search-input" value="{{ query|default:'' }}" pattern="/^[^!&:|]+$/" title="Symbols ! & | : are not allowed">
      <div class="filter-item">
        <input type="checkbox" name="term" id="check_term" class="filter-button" {% if term %}checked{% endif %}>
        <label for="check_term" class="filter-button">Show terminated</label>
      </div>
      <div class="filter-item">
        <input type="checkbox" name="ours" id="check_ours" class="filter-button" {% if ours %}checked{% endif %}>
        <label for="check_ours" class="filter-button">Show non-company</label>
      </div>
    </form>
  {% endif %}
{% endblock toolbar %}

<script>
  {% block main_js %}

    var section = window.location.toString().replace(/^https?:\/\//, '').split('/')[1];
    if (section == "summary") {
      document.getElementById("navItem1").classList.add('active');
    } else if (section == "trucks") {
      document.getElementById("navItem2").classList.add('active');
    } else if (section == "trailers") {
      document.getElementById("navItem3").classList.add('active');
    } else if (section == "drivers") {
      document.getElementById("navItem4").classList.add('active');
    } else if (section == "companies") {
      document.getElementById("navItem5").classList.add('active');
    };

    {% if filter_bar %}
      function submitForm() {
        let query = document.getElementById('search-input').value;
        if (query) {
          let pattern = /^[^!&|:]+$/
          if(pattern.test(query)) {
            document.getElementById('filter-form').submit();
          };
        } else {
          document.getElementById('filter-form').submit();
        };
      };
      const filters = document.getElementsByClassName("filter-button")
      for (i = 0; i < filters.length; i++) {
        filters[i].addEventListener("click", submitForm)
       };
    {% endif %}

    {% block page_js %}{% endblock page_js %}

  {% endblock main_js %}
</script>

