{% extends "invent/base.html" %}

{% block left-menu%}
  <ul>
    <li>
      <a href="{% url url_left_1_a %}" role="button">{{ url_left_1_t }}</a>
    </li>
  </ul>
{% endblock left-menu %}

{% block page-title %}
  <p>Add new {{ lower_name }} record</p>
  <div class="address-line">
    <ol>
      <li><a href="{% url 'invent:index' %}">Home</a> > </li>
      <li><a href="{% url url_left_1_a %}">{{ upper_name }}s</a> > </li>
      <li>New {{ upper_name }}</li>
    </ol>
  </div>
{% endblock page-title %}

{% block content %}
  <form method='post'>
    {% csrf_token %}
    {% for field in form %}
      <div>
        {{ field.label_tag }} {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}
    <button name="submit" role="button" class="btn">Add {{ lower_name }}</button>
  </form>
  <br>
{% endblock content %}

