{% extends "invent/base.html" %}

{% block content %}
  {% if order_list %}
    <p>
      <strong>Orders:</strong>
      {% for order in order_list %}
        <a href="{% url 'shop:order' order.id %}">{{ order.opened }}, </a>
      {% endfor %}
    </p>
  {% endif %}
  {% if part_list %}
    <br>
    <p>
      <strong>Parts:</strong>
      {% for part in part_list %}
        <a href="{% url 'shop:part' part.id %}">{{ part }}, </a>
      {% endfor %}
    </p>
  {% endif %}
{% endblock content %}

