{% extends "invent/base.html" %}

{% block content %}
  <p> Fleet number: {{ object.owner }} # {{ object.fleet_number }} </p>
  <p> VIN: {{ object.vin }} </p>
  <p> Make: {{ object.year }} {{ object.make }}</p>
  {% if last_pm_mls %}
    <p> Last PM: {{ object.last_pm_mls }} on {{ object.last_pm_mls|default_if_none:"..." }}</p>
  {% endif %}
  <br>
  {% if order_list %}
    <p>
      <strong>Orders:</strong>
      {% for order in order_list %}
        <a href="{% url 'shop:order' order.id %}">{{ order.opened }}, </a>
      {% endfor %}
    </p>
  {% endif %}
  {% if part_list %}
    <br>
    <p>
      <strong>Parts:</strong>
      {% for part in part_list %}
        <a href="{% url 'shop:part' part.id %}">{{ part }}, </a>
      {% endfor %}
    </p>
  {% endif %}
{% endblock content %}

