{% extends "invent/base.html" %}

{% block content %}
  <p> <strong>Fleet number:</strong> {{ object.owner }} # {{ object.fleet_number }} </p>
  <p> <strong>VIN:</strong> {{ object.vin }} </p>
  <p> <strong>Make:</strong> {{ object.year }} {{ object.get_make_display }}</p>
  {% if last_pm_mls %}
    <p> <strong>Last PM:</strong> {{ object.last_pm_mls }} on {{ object.last_pm_mls|default_if_none:"..." }}</p>
  {% endif %}
  <br>
  {% if order_list %}
    <p>
      <strong>Orders:</strong>
      {% for order in order_list %}
        <a href="{% url 'shop:order' order.id %}">{{ order.opened }}, </a>
      {% endfor %}
    </p>
  {% endif %}
  {% if part_list %}
    <br>
    <p>
      <strong>Parts:</strong>
      {% for part in part_list %}
        <a href="{% url 'shop:part' part.id %}">{{ part }}, </a>
      {% endfor %}
    </p>
  {% endif %}
  {% if assigned_parts_list %}
    <br>
    <p>
      <strong>Assigned parts:</strong>
      {% for ap in assigned_parts_list %}
        <p><a href="">{{ ap }}</a></p>
      {% endfor %}
    </p>
  {% endif %}
  <br>
{% endblock content %}

