{% extends "invent/base.html" %}
{% load static %}

{% block content %}
  <form method='post' id="data_form">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="formset-table {{ font_class }}">
      <thead>
        <tr>
          {% for field in fields %}
            <th> {{ field }} </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
          <tr>
            {% for field in form %}
              {% if '-id' in field.auto_id %}
                {{ field }}
                {% if field.value and detail_url %}
                  <td class="formset_field">
                    <a href="{% url detail_url field.value %}">
                      <img src="{% static 'img/detail.png' %}">
                      {{ field }}
                    </a>
                  </td>
                {% endif %}
              {% else %}
                <td> {{ field }}{{ field.errors }}</td>
              {% endif %}
            {% endfor %}
          </tr>
          {{ form.non_field_errors }}
        {% endfor %}
      </tbody>
    </table>
    {{ formset.non_form_errors }}
  </form>
{% endblock content %}

