{% extends "invent/base.html" %}

<script>
  {% block page_js %}

  {% endblock page_js %}
</script>

{% block content %}
  <table class="listview-table {{ font_class }}">
    <thead>
      <tr>
        <th>Fleet number</th>
        <th>Company</th>
        <th>VIN</th>
        <th>Year</th>
        <th>Make</th>
        <th>Last PM date</th>
        <th>Last PM odometer</th>
      </tr>
    </thead>
    <tbody>
      {% for object in trucks %}
        <tr>
          <td>{{ object.fleet_number }}</td>
          <td>{{ object.owner }}</td>
          <td>{{ object.vin }}</td>
          <td>{{ object.year }}</td>
          <td>{{ object.make }}</td>
          <td>{{ object.last_pm_date }}</td>
          <td>{{ object.last_pm_mls }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <table class="listview-table {{ font_class }}">
    <thead>
      <tr>
        <th>Fleet number</th>
        <th>Company</th>
        <th>VIN</th>
        <th>Year</th>
        <th>Make</th>
      </tr>
    </thead>
    <tbody>
      {% for object in trailers %}
        <tr>
          <td>{{ object.fleet_number }}</td>
          <td>{{ object.owner }}</td>
          <td>{{ object.vin }}</td>
          <td>{{ object.year }}</td>
          <td>{{ object.make }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}

