{% extends "invent/base.html" %}
{% load static %}

{% block left-menu%}
  <ul>
    <li>
      <a href="" onClick="window.location.replace(document.referrer);return false;" role="button">Back</a>
    </li>
    <li>
      <a href="{% url 'invent:create_trailer' %}" role="button">+ New trailer</a>
    </li>
    <li>
      <button type="submit" form="data_form">+ Save changes</a>
    </li>
  </ul>
{% endblock left-menu %}

{% block page-title %}
  <p>List of trailer records</p>
  <div class="address-line">
    <ol>
        <li><a href="{% url 'invent:index' %}">Home</a> > </li>
        <li>Trailers</li>
    </ol>
  </div>
{% endblock page-title %}

{% block content %}
  <form method='post' id="data_form">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="formset-table {{ font_class }}">
      <thead>
        <tr>
          {% for field in fields %}
            <th> {{ field }} </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
          <tr>
            {% for field in form %}
              {% if '-id' in field.auto_id %}
                {% if field.value %}
                  <td class="formset_field">
                    <a href="{% url 'invent:update_trailer' field.value %}">
                      <img src="{% static 'img/edit.png' %}">
                      {{ field }}
                    </a>
                  </td>
                {% else %}
                  {{ field }}
                {% endif %}
              {% else %}
                <td> {{ field }}</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock content %}

