{% extends "invent/base.html" %}

{% block left-menu%}
  <ul>
    <li>
      <a href="" onClick="window.location.replace(document.referrer);return false;" role="button">Back</a>
    </li>
    <li>
      <a href="{% url 'invent:create_trailer' %}" role="button">+ New trailer</a>
    </li>
  </ul>
{% endblock left-menu %}

{% block page-title %}
  <p>List of trailer records</p>
  <div class="address-line">
    <ol>
        <li><a href="{% url 'invent:index' %}">Home</a> > </li>
        <li>Trailers</li>
    </ol>
  </div>
{% endblock page-title %}

{% block content %}
  <div class="grid" style="grid-template-columns: repeat(7, 1fr);">
    <span><strong>Fleet number</strong></span>
    <span><strong>Company</strong></span>
    <span><strong>Driver</strong></span>
    <span><strong>Truck</strong></span>
    <span><strong>License Plate</strong></span>
    <span><strong>Make</strong></span>
    <span><strong>Year</strong></span>
    {% for object in object_list %}
      <a href="{% url 'invent:update_trailer' object.id %}">{{ object.fleet_number }}</a>
      <a href="{% url 'invent:update_trailer' object.id %}">{{ object.company }}</a>
      <a href="{% url 'invent:update_trailer' object.id %}">{{ object.driver }}</a>
      <a href="{% if object.driver.truck.id != '' %}{% url 'invent:update_truck' object.driver.truck.id %}{% else %}{% url 'invent:update_trailer' object.id %}{% endif %}">{{ object.driver.truck }}</a>
      <a href="{% url 'invent:update_trailer' object.id %}">{{ object.lic_plate }}</a>
      <a href="{% url 'invent:update_trailer' object.id %}">{{ object.get_make_display }}</a>
      <a href="{% url 'invent:update_trailer' object.id %}">{{ object.year_made }}</a>
    {% endfor %}
  </div>
{% endblock content %}

