{% extends "invent/base.html" %}

<script>
  {% block jquery %}
  {% endblock %}
</script>

{% block left-menu%}

  <ul>
    <li>
      <a href="" onClick="window.location.replace(document.referrer);return false;" class="side-menu-link" role="button">Back</a>
    </li>
    <li>
      <a href="{% url 'invent:update_truck' truck.id %}" role="button" class="side-menu-link">Update truck</a>
    </li>
  </ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'invent:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'invent:list_trucks' %}">Truck List</a></li>
        <li class="breadcrumb-item active">Truck</li>
    </ol>
  </div>
  <h4 class="page-title">Truck</h4>

{% endblock page-title %}

{% block content %}

  <div class="row">
    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-header"><b>Fleet Number:</b></div>
        <div class="card-body">
          <p class="card-text">{{ truck.fleet_number }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header"><b>License Plate:</b></div>
        <div class="card-body">
          <p class="card-text">{{ truck.lic_plate }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header"><b>Make:</b></div>
        <div class="card-body">
          <p class="card-text">{{ truck.make }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header"><b>Model:</b></div>
        <div class="card-body">
          <p class="card-text">{{ truck.model }}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

