{% extends "invent/base.html" %}

{% load crispy_forms_tags %}

<script>
  {% block jquery %}
  {% endblock %}
</script>

{% block left-menu%}

  <ul>
    <li>
      <a href="" onClick="window.location.replace(document.referrer);return false;" class="side-menu-link" role="button">Back</a>
    </li>
  </ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'invent:index' %}">Home</a></li>
        <li class="breadcrumb-item active">Update Truck</li>
    </ol>
  </div>
  <h4 class="page-title">Update Truck</h4>

{% endblock page-title %}

{% block content %}

  <form method='post' id="orderForm" novalidate>
    {% csrf_token %}
    <div class="container-fluid">
      <div class="row">
      {{ form.fleet_number|as_crispy_field }}
    </div>
    <button name="submit" role="button" class="btn btn-rahco">Update truck</button>
  </form>

{% endblock content %}

