@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
  /* outline: 1px dashed red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif', serif;
}

html, body {
  height: 100%;
  color:#3b3b3b;
}

#wrapper {
  height: 100%;
  width: 100%;
  background-color: #ebebeb;
  display: block;
}

#header {
  height: 44px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid #00000025;
  padding: 5px 5px;
  background-color: #fdfdfd;
  overflow: hidden;
}

#header a {
  color: inherit;
  font-size: 1.5rem;
  text-decoration: none;
}

#header-left {
  padding-left: 50px;
}

#header-right {
  padding-right: 20px;
}

#header-left li {
  margin-left: 30px;
  padding: .5rem 1rem;
}

#header-left li:hover {
  border: 1px solid;
  border-color: #00000025;
  border-bottom: none;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

#header li {
  display: inline;
}

#header .active {
  background-color: #ebebeb;
  border: 1px solid;
  border-color: #00000025;
  border-bottom: none;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

#header ul {
  list-style-type: none;
}

#header-right li {
  margin-right: 10px;
}

#header-right a {
  font-size: 1rem;
  color: inherit;
}

#left-content-hide {
  position: fixed;
  top: 44px;
  left: 0px;
  width: 10px;
  height: 100%;
  display: block;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#left-content-hide-button {
  height: 50%;
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid #00000025;
  font-size: 1rem;
}

#left-content-hide-button:hover {
  border-color: gray;
  border-radius: 0.25rem;
}

#left-content {
  display: inline-block;
  z-index: 1;
  width: 200px;
  position: fixed;
  top: 43px;
  padding: 20px;
  padding-top: 40px;
  bottom: 0;
  border-right: 1px solid #00000025;
  background-color: inherit;
}

#left-content ul {
  list-style-type: none;
}

#left-content li {
  padding-bottom: 10px !important;
}

#left-content a {
  list-style-type: none;
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
}

#left-content button {
  border: none;
  font-size: 1.2rem;
  color: inherit;
}

#left-content button:hover {
  cursor: pointer;
}

#address-panel {
  position: fixed;
  z-index: 1;
  height: 33px;
  top: 44px;
  right: 0;
  left: 199px;
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
  border-bottom-style: 1px solid 00000025;
  background-color: #ebebeb;
  overflow: hidden;
}

#address-panel p {
  padding-left: 20px;
  font-style: italic;
}

#address-panel li {
  font-size: 0.8rem;
  display: inline;
  list-style-type: none;
  color: inherit;
}

#address-panel a {
  color: inherit;
  text-decoration: none;
}

#address-panel .address-line {
  padding-right: 20px;
}

#main-content {
  margin-left: 200px;
  margin-top: 77px;
  padding: 20px;
  background-color: #fdfdfd;
  height: 100%;
  position: relative;
  z-index: 0;
}

.form_field {
  margin: 10px 10px;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.btn {
  margin-top: 10px;
  padding: 3px 10px;
  font-size: 1.1rem;
}

.btn:hover {
  padding: 3px 10px;
  font-size: 1.1rem;
  cursor: pointer;
}

.grid {
  display: grid;
  border-top: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
}

.grid a, .grid p, .grid span {
  padding: 8px 4px;
  border-bottom: 1px solid #ced4da;
  border-right : 1px solid #ced4da;
  color: inherit;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorlist {
  color: red;
  list-style-type: none;
  display: inline;
}

.choice_taken {
  color: red;
}

.colBox:hover {
  cursor: pointer;
}

.move_button {
  width: 40px;
}

.move_button:hover {
  width: 40px;
  cursor: pointer;
}


.listview-table {
  border-spacing: 0;
  padding: 0;
  font-size: 0.8rem;
}

.listview-table thead th{
  position: sticky;
  top: 77px;
  background-color: #ebebeb;
  text-align: center;
  padding: 2px 5px;
}

.listview-table td {
  text-align: center;
  padding: 2px 5px;
}


.listview-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.listview-table td:not(:last-child) {
  border-right : 1px solid #ced4da;
}

.listview-table a{
  text-decoration: none;
  color: inherit;
}
