@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
    /* outline: 1px dashed red; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

#wrapper {        
    height: 100%;    
    width: 100%;
    /* overflow: hidden; */
    background-color: #fafbfe;
    display: block;
}    

#header {
    padding: 5px 5px;
    background-color: #336699;
    display: flex;
    justify-content: space-between;    
    color: white;
    position: sticky;
    top: 0;
}

#header a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}


#header-left {    
    margin-left: 10px;
}

#header-left li {    
    margin-left: 10px;
}

#header-right li {
    margin-right: 10px;
}

#header li {
    display: inline;    
}

#header ul {
    list-style-type: none;
}

#container {
    display: flex;
    justify-content: flex-start;     
    height: 100%; 
}

#left-content {
    background-color: #0734fd;
    width: fit-content;
    padding: 10px;   
    bottom: 0;
}

#right-content {
    flex-grow: 1;
}

#address-panel {
    background-color: #00ff4c;
}

#address-panel li {
    list-style-type: none; 
}

#main-content {
    background-color: #ffae00;
}