{% extends "invent/base.html" %}

{% block left-menu%}
  <ul>
    <li>
      <a href="{% url 'contacts:list_drivers' %}" role="button">Back</a>
    </li>
    <li>
      <button type="submit" form="data_form">+ Save changes</a>
    </li>
  </ul>
{% endblock left-menu %}

{% block page-title %}
  <p>Update driver record</p>
  <div class="address-line">
    <ol>
      <li><a href="{% url 'invent:index' %}">Home</a> > </li>
      <li><a href="{% url 'contacts:list_drivers' %}">Drivers</a> > </li>
      <li>Update driver</li>
    </ol>
  </div>
{% endblock page-title %}

{% block content %}
  <form method='post' id="data_form">
    {% csrf_token %}
    {% for field in form %}
      <div>
        {{ field.label_tag }} {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}
  </form>
{% endblock content %}

