{% extends "invent/base.html" %}

{% block left-menu%}
  <ul>
    <li>
      <a href="" onClick="window.location.replace(document.referrer);return false;" role="button">Back</a>
    </li>
    <li>
      <a href="{% url 'contacts:create_driver' %}" role="button">+ New driver</a>
    </li>
  </ul>
{% endblock left-menu %}

{% block page-title %}
  <p>List of driver records</p>
  <div class="address-line">
    <ol>
        <li><a href="{% url 'invent:index' %}">Home</a> > </li>
        <li>Drivers</li>
    </ol>
  </div>
{% endblock page-title %}

{% block content %}

{% endblock content %}

