{% extends "invent/base.html" %}

{% block left-menu%}
  <ul>
    <li>
      <a href="{% url 'contacts:list_passwords' %}" role="button">Back</a>
    </li>
  </ul>
{% endblock left-menu %}

{% block page-title %}
  <p>Add new password record</p>
  <div class="address-line">
    <ol>
      <li><a href="{% url 'invent:index' %}">Home</a> > </li>
      <li><a href="{% url 'contacts:list_passwords' %}">Passwords</a> > </li>
      <li>New Password</li>
    </ol>
  </div>
{% endblock page-title %}

{% block content %}
  <form method='post'>
    {% csrf_token %}
    {% for field in form %}
      <div>
        {{ field.label_tag }} {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}
    <button name="submit" role="button" class="btn">Add password</button>
  </form>
{% endblock content %}

