{% extends "users/base.html" %}

{% block nav_bar %}
  <li>{{ nav_link }}</li>
{% endblock nav_bar %}

{% block content %}
  <form method="post" id="data_form">
    {% csrf_token %}
    <label for="check_all">Check all</label>
    <input type="checkbox" name="check_all" id="check_all" class="colBox form_field">
    <label for="uncheck_all">Uncheck all</label>
    <input type="checkbox" name="uncheck_all" id="uncheck_all" class="colBox form_field">
    {% for object in object_list %}
      <p>
        {{ object }}
        <input type="checkbox" {% if object.field_name == 'truck' or object.field_name == 'trailer' %}disabled{% endif %} name="{{ object.id }}" class="colBox form_field" id="{{ object.id }}" {% if object.show %}checked{% endif %}>
        <button type="submit" form="data_form" class="move_button" name="move_up" value="{{ object.id }}">up</button>
        <button type="submit" form="data_form" class="move_button" name="move_down" value="{{ object.id }}">down</button>
      </p>
    {% endfor %}
  </form>

{% endblock content %}
