{% extends "invent/base.html" %}

{% block nav_bar %}
  <li>{{ nav_link }}</li>
{% endblock nav_bar %}

{% block content %}
  <form method="GET" id="data_form">
    {% for object in object_list %}
      <p>
        {{ object }}
        <input type="checkbox" name={{ object.id }} class="colBox form_field" id={{ object.id }} {% if object.show %}checked{% endif %}>
        {% comment %}
        <button type="submit" form="data_form" class="move_button" name="move_up" value="{{ object.id }}">up</button>
        <button type="submit" form="data_form" class="move_button" name="move_down" value="{{ object.id }}">down</button>
        {% endcomment %}
      </p>
    {% endfor %}
    <input type="hidden" name="changed" value="on">
  </form>

{% endblock content %}
