{% extends "invent/base.html" %}

{% block page-title %}
  <p>Log in to your account</p>
{% endblock %}

{% block content %}

<div >
  <form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    <table>
      <tr>
          <td>{{ form.username.label_tag }}</td>
          <td style="padding-left: 10px;"><input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="off" maxlength="150" required="" id="id_username" class="form_field"></td>
      </tr>
      <tr>
          <td>{{ form.password.label_tag }}</td>
          <td style="padding-left: 10px; padding-top: 10px;"><input type="password" name="password" autocomplete="off" required="" id="id_password" class="form_field"></td>
      </tr>
    </table>
    <button name="submit" class="btn">Log in</button>
    <input type="hidden" name="next" value="{% url 'invent:index' %}" />
  </form>
</div>

{% endblock content %}
