{% extends "invent/base.html" %}

{% block page-title %}
  <p>Log in to your account</p>
  <div class="address-line">
    <ol>
        <li><a href="{% url 'invent:index' %}">Home</a> > </li>
        <li>Log in</li>
    </ol>
  </div>
{% endblock page-title %}

{% block content %}

<div >
  <form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }} {{ field }}
        {{ field.errors }}
      </p>
    {% endfor %}
    <button name="submit" class="btn">Log in</button>
  </form>
</div>

{% endblock content %}
