{% extends "users/base.html" %}

{% block custom-button %}
    <li>
      <a href="{% url 'users:listcolshow' %}">Table columns</a>
    </li>
    {% if user.profile.level == 'A' %}
      <li>
        <a href="{% url 'users:update_level' %}">Users</a>
      </li>
    {% endif %}
    {% if user.is_superuser %}
      <li>
        <a href="{% url 'admin:index' %}">Admin page</a>
      </li>
      <li>
        <a href="{% url 'users:generate_su_profile' %}">Generate profile</a>
      </li>
    {% endif %}
{% endblock custom-button %}

{% block nav_bar %}
  <li>Profile</li>
{% endblock nav_bar %}

{% block content %}
  <form method='post' id="data_form">
    {% csrf_token %}
    <h3> Personal information: </h3>
    <p>{{ form.first_name.label_tag }}{{ form.first_name }}{{ form.first_name.errors }}</p>
    <p>{{ form.last_name.label_tag }}{{ form.last_name }}{{ form.last_name.errors }}</p>
    <br>
    <h3> Display settings: </h3>
    <p>{{ form.font_size.label_tag }}{{ form.font_size }}{{ form.font_size.errors }}</p>
    <br>
    <h3> Database settings: </h3>
    <p>{{ form.labor_rate.label_tag }}{{ form.labor_rate }}{{ form.labor_rate.errors }}</p>
    <p>{{ form.parts_surcharge.label_tag }}{{ form.parts_surcharge }}{{ form.parts_surcharge.errors }}</p>
    {{ form.non_field_errors }}
  </form>
  <br>
{% endblock content %}
