{% extends "invent/base.html" %}

{% block left-menu%}
  <ul>
    <li>
      <a href="" onClick="window.location.replace(document.referrer);return false;" role="button">Back</a>
    </li>
    <li>
      <a href="{% url 'users:listcolshow' %}">Table columns</a>
    </li>
    {% if user.profile.level == 'A' %}
      <li>
        <a href="{% url 'users:update_level' %}">Users</a>
      </li>
    {% endif %}
    {% if user.is_superuser %}
      <li>
        <a href="{% url 'admin:index' %}">Admin page</a>
      </li>
    {% endif %}
    <li>
      <button type="submit" form="data_form" name="changed" value="on">+ Save changes</button>
    </li>
  </ul>
{% endblock left-menu %}


{% block page-title %}
  <p>Account settings</p>
  <div class="address-line">
    <ol>
        <li><a href="{% url 'invent:index' %}">Home</a> > </li>
        <li>Profile</li>
    </ol>
  </div>
{% endblock page-title %}

{% block content %}
  <form method='post' id="data_form">
    {% csrf_token %}
    <h3> Personal information: </h3>
    <p>{{ form.first_name.label_tag }}{{ form.first_name }}{{ form.first_name.errors }}</p>
    <p>{{ form.last_name.label_tag }}{{ form.last_name }}{{ form.last_name.errors }}</p>
    <br>
    <h3> Display settings: </h3>
    <p>{{ form.font_size.label_tag }}{{ form.font_size }}{{ form.font_size.errors }}</p>
  </form>
  <br>
{% endblock content %}
