{% extends "users/base.html" %}
{% load users_extras %}

{% block content %}
  <form method="get" id="data_form">
    {% for field in form %}
        {{ field.label_tag }}{{ field }}{{ field.errors }}
    {% endfor %}
  </form>
  <br/>
  <table class="listview-table">
      <thead>
        <tr>
          <th>Punch in</th>
          <th></th>
          <th>Lunch in</th>
          <th></th>
          <th>Lunch out</th>
          <th></th>
          <th>Punch out</th>
          <th></th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            <td>{{ object.punch_in|date:"D G:i"|default_if_none:"" }}</td>
            <td>{{ object.punch_in_distance|default_if_zero:"" }}</td>
            <td>{{ object.lunch_in|date:"G:i"|default_if_none:"" }}</td>
            <td>{{ object.lunch_in_distance|default_if_zero:"" }}</td>
            <td>{{ object.lunch_out|date:"G:i"|default_if_none:"" }}</td>
            <td>{{ object.lunch_out_distance|default_if_zero:"" }}</td>
            <td>{{ object.punch_out|date:"G:i"|default_if_none:"" }}</td>
            <td>{{ object.punch_out_distance|default_if_zero:"" }}</td>
            <td>{{ object.get_hours|default_if_zero:"" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br/>
    <strong>Total this week: {{ week_total }} hours</strong>
{% endblock content %}

<script>
  {% block page_js %}
      const filters = document.getElementsByClassName("filter_form")
      for (i = 0; i < filters.length; i++) {
        filters[i].addEventListener("change", function() {
          document.getElementById('data_form').submit();
        });
       };
  {% endblock page_js %}
</script>
