{% extends "base.html" %}
{% load static %}

{% block nav_toolbar %}
    <a href="{% url 'shop:orders' %}" title="Orders"><img src="{% static 'img/wrench.png' %}" id="nav_orders" ></a>
    <a href="{% url 'shop:jobs' %}" title="Jobs"><img src="{% static 'img/sand.png' %}" id="nav_jobs" ></a>
    <a href="{% url 'shop:parts' %}" title="Parts"><img src="{% static 'img/parts.png' %}" id="nav_parts" ></a>
    <a href="{% url 'shop:shelves' %}" title="Shelves"><img src="{% static 'img/list_bullets.png' %}" id="nav_shelves"></a>
    <a href="{% url 'shop:purchases' %}" title="Purchases"><img src="{% static 'img/shop_cart.png' %}" id="nav_purchases" ></a>
    <a href="{% url 'shop:balance' %}" title="Accounting"><img src="{% static 'img/dollar.png' %}" id="nav_balance" style="margin-right:30px"></a>

{% endblock nav_toolbar %}

{% block content_bar %}
  <form method="GET" id="filter-form">
    {% if search_bar %}
        <button type="submit" class="search-button filter-button" id="search-button">
          <img src="{% static 'img/search.png' %}">
        </button>
        <input class="search-input" type="search" placeholder="Search" name="query" id="search-input" value="{{ query|default:'' }}" pattern="/^[^!&:|]+$/" title="Symbols ! & | : are not allowed">
    {% endif %}
    {% if filter_bar %}
        {% block filter_bar %}{% endblock filter_bar %}
    {% endif %}
  </form>
{% endblock content_bar %}

<script>
  {% block main_js %}

    document.getElementById("nav_shop").classList.add('active');

    var section = window.location.toString().replace(/^https?:\/\//, '').split('/')[1];
    if (section == "orders") {
      document.getElementById("nav_orders").classList.add('active');
      document.title = "LPT - Orders"
    } else if (section == "jobs") {
      document.getElementById("nav_jobs").classList.add('active');
      document.title = "LPT - Jobs"
    } else if (section == "parts") {
      document.getElementById("nav_parts").classList.add('active');
      document.title = "LPT - Parts"
    } else if (section == "shelves") {
      document.getElementById("nav_shelves").classList.add('active');
      document.title = "LPT - Shelves"
    } else if (section == "assign") {
      document.title = "LPT - Assign";
    } else if (section == "purchases") {
      document.getElementById("nav_purchases").classList.add('active');
      document.title = "LPT - Purchases"
    } else if (section == "accounting") {
      document.getElementById("nav_balance").classList.add('active');
      document.title = "LPT - Accounting"
    };

    {% if filter_bar or search_bar %}
      function submitForm() {
        try {
          let query = document.getElementById('search-input').value;
          let pattern = /^[^!&|:]+$/
          if(pattern.test(query)) {
            document.getElementById('filter-form').submit();
          };
        } catch (ex) {
          document.getElementById('filter-form').submit();
        };
      };
      const filters = document.getElementsByClassName("filter-button")
      for (i = 0; i < filters.length; i++) {
        filters[i].addEventListener("click", submitForm)
      };
      const part_type = document.getElementsById("part_type")
      part_type.addEventListener("change", submitForm)
    {% endif %}

    {% block page_js %}{% endblock page_js %}

  {% endblock main_js %}
</script>

