{% extends "base.html" %}
{% load static %}

{% block header %}
  <li>
    <a href="{% url 'invent:summary' %}">Safety</a>
  </li>
    <li id="navItem1">
    <a href="{% url 'shop:orders' %}">Orders</a>
  </li>
  <li id="navItem2">
    <a href="{% url 'shop:jobs' %}">Jobs</a>
  </li>
  <li id="navItem3">
    <a href="{% url 'shop:parts' %}">Parts</a>
  </li>
  <li id="navItem4">
    <a href="">Accounting</a>
  </li>
{% endblock header %}

{% block toolbar %}
  {% if filter_bar %}
      <form method="GET" id="filter-form">
        <button type="submit" class="search-button filter-button" id="search-button">
          <img src="{% static 'img/search.png' %}">
        </button>
        <input class="search-input" type="search" placeholder="Search" name="query" id="search-input" value="{{ query|default:'' }}" pattern="/^[^!&:|]+$/" title="Symbols ! & | : are not allowed">
      </form>
  {% endif %}
{% endblock toolbar %}

<script>
  {% block main_js %}

    var section = window.location.toString().replace(/^https?:\/\//, '').split('/')[1];
    if (section == "orders") {
      document.getElementById("navItem1").classList.add('active');
    } else if (section == "jobs") {
      document.getElementById("navItem2").classList.add('active');
    } else if (section == "parts") {
      document.getElementById("navItem3").classList.add('active');
    } else if (section == "accounting") {
      document.getElementById("navItem4").classList.add('active');
    };

    {% if filter_bar %}
      function submitForm() {
        let query = document.getElementById('search-input').value;
        if (query) {
          let pattern = /^[^!&|:]+$/
          if(pattern.test(query)) {
            document.getElementById('filter-form').submit();
          };
        } else {
          document.getElementById('filter-form').submit();
        };
      };
      const filters = document.getElementsByClassName("filter-button")
      for (i = 0; i < filters.length; i++) {
        filters[i].addEventListener("click", submitForm)
       };
    {% endif %}

    {% block page_js %}{% endblock page_js %}

  {% endblock main_js %}
</script>

