{% extends "shop/base.html" %}

{% block content %}

  <table class="listview-table {{ font_class }}">
    <thead>
      <tr>
        <th>Part</th>
        <th>Order</th>
        <th>Invoice</th>
        <th>Amount</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td style="text-align: left;"> <a href="{% url 'shop:part' object.part.part.id %}">{{ object.part }}</td>
          <td> <a href="{% url 'shop:purchase' object.purchase.id %}">{{ object.purchase }}</a></td>
          <td> {{ object.purchase.invoice }}</td>
          <td> {{ object.get_left }}</td>
          <td> {{ object.price }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}

