{% extends "shop/base.html" %}
{% load static %}

{% block filter_bar %}
  <div class="filter-item">
    <input type="radio" name="show" value="show_this_month" id="show_this_month" class="filter-button" {% if show == "show_this_month" %}checked{% endif %}>
    <label for="show_this_month" class="filter-button">This month</label>
  </div>
  <div class="filter-item">
    <input type="radio" name="show" value="show_last_month" id="show_last_month" class="filter-button" {% if show == "show_last_month" %}checked{% endif %}>
    <label for="show_last_month" class="filter-button">Last month</label>
  </div>
  <div class="filter-item">
    <input type="radio" name="show" value="show_all" id="show_all" class="filter-button" {% if show == "show_all" %}checked{% endif %}>
    <label for="show_all" class="filter-button">All time</label>
  </div>
{% endblock filter_bar %}

{% block content %}
  {% if to_truck %}
    <strong>Assign parts to <a href="{% url 'invent:truck' to_truck.id %}">{{ to_truck }}</a></strong><br><br>
  {% elif to_trailer %}
    <strong>Assign parts to <a href="{% url 'invent:trailer' to_trailer.id %}">{{ to_trailer }}</a></strong><br><br>
  {% endif %}

  <form method='post' id="data_form">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="formset-table {{ font_class }}">
      <thead>
        <tr>
          {% for field in fields %}
            <th> {{ field }} </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
          <tr>
            {% for field in form %}
              {% if '-id' in field.auto_id %}
                {{ field }}
                {% if field.value and detail_url %}
                  <td class="formset_field">
                    <a href="{% url detail_url field.value %}">
                      <img src="{% static 'img/parts.png' %}">
                      {{ field }}
                    </a>
                  </td>
                {% endif %}
              {% else %}
                <td> {{ field }}{{ field.errors }}</td>
              {% endif %}
            {% endfor %}
          </tr>
          {{ form.non_field_errors }}
        {% endfor %}
      </tbody>
    </table>
    {{ formset.non_form_errors }}
  </form>

  {% if running_total %}
    <br>
    <p><strong>Running TOTAL: ${{running_total}}</strong>
    <p><strong>Tools TOTAL: ${{total_tools}}</strong>
    <p><strong>Parts TOTAL: ${{total_parts}}</strong>
    <p><strong>Building TOTAL: ${{total_building}}</strong>
    <p><strong>Shop supplies TOTAL: ${{total_supplies}}</strong>
    <p><strong>Salaries TOTAL: ${{total_salaries}}</strong>
    <p><strong>Income TOTAL: ${{total_income}}</strong>
    <br>
    <br>
    <p><strong>This month TOTAL: ${{this_month}}</strong>
    <p><strong>This month income: ${{this_month_income}}</strong>
    <p><strong>This month labor: ${{this_month_labor}}</strong>
    <p><strong>This month salaries: ${{this_month_salaries}}</strong>
    <br> 
    <br> 
    <p><strong>Last month TOTAL: ${{last_month}}</strong>
    <p><strong>Last month income: ${{last_month_income}}</strong>
    <p><strong>Last month salaries: ${{last_month_salaries}}</strong>
    <p><strong>Last month labor: ${{last_month_labor}}</strong>    
  {% endif %}
{% endblock content %}

