{% load static %}
{% load shop_extras %}

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'css/print.css' %}" />
</head>

<body>

  <button type="button" onClick="window.print()" id="print-button">
      PRINT ME!
  </button>
  <button type="button" onClick="window.history.back();return false;" id="back-button">
      BACK
  </button>

  <div class="container">

    <div class="row">
      <div class="col">
        <p>{{ user.profile.shop_header }}</p>
        <p>{{ user.profile.shop_header.address_line_1 }}</p>
        <p>{{ user.profile.shop_header.address_line_2 }}</p>
        <p>{{ user.profile.shop_header.city }}, {{ user.profile.shop_header.state }} {{ user.profile.shop_header.zip_code }}</p>
        <p>{{ user.profile.shop_header.phone_number }}</p>
      </div>
      <div class="col">
        <p><strong>Invoice #</strong> {{ object.id }}</p>
        <p><strong>Invoice Date:</strong></p>
        <p>{{ object.closed }}</p>
      </div>
    </div>
    <div class="row" style="justify-content:flex-end;">
      <div class="col" style="padding-right: 20px;"><strong>BILL TO:</strong></div>
      <div class="col" style="padding-right: 20px;">
        <p>{{ object.truck.owner|default_if_none:"" }}{{ object.trailer.owner|default_if_none:"" }}</p>
        <p>{{ object.truck.owner.address_line_1 }}{{ object.trailer.owner.address_line_1 }}</p>
        <p>{{ object.truck.owner.address_line_2 }}{{ object.trailer.owner.address_line_2 }}</p>
        <p>{{ object.truck.owner.city }} {{ object.truck.owner.state }} {{ object.truck.owner.zip_code }}{{ object.trailer.owner.city }} {{ object.trailer.owner.state }} {{ object.trailer.owner.zip_code }}</p>
        <p>{{ object.truck.owner.phone_number }}{{ object.trailer.owner.phone_number }}</p>
      </div>
      <div class="col">
        <p><strong>Make: </strong>{{ object.truck.get_make_display|default_if_none:"_______________" }}{{ object.trailer.get_make_display|default_if_none:"_______________" }}</p>
        <p><strong>VIN: </strong>{{ object.truck.vin|default_if_none:"_______________" }}{{ object.trailer.vin|default_if_none:"_______________" }}</p>
        {% if object.truck %}
          <p><strong>Odometer: </strong>{{ object.truck.mileage|default_if_none:"__________" }}</p>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th>SERVICE and LABOR</th>
            <th>Hours</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for job in object.orderjob_set.all %}
            <tr>
              <td>{{ job.job }}</td>
              <td style="width: 20%; text-align: center;">{{ job.job.man_hours }}</td>
              <td style="width: 20%; text-align: center;">{{ job.amount }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% if object.orderpart_set.all %}
      <div class="row">
        <table>
          <thead>
            <tr>
              <th>
                <span>PARTS and MATERIAL</span>
              </th>
              <th>Price</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for part in object.orderpart_set.all %}
              <tr>
                <td>{{ part.part }}</td>
                <td style="width: 20%; text-align: right;">${{ part.part.price|surcharge:user|floatformat:2 }}</td>
                <td style="width: 20%; text-align: center;">{{ part.amount }} {{ part.part.stock_unit }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}

    <br>

    <div class="row">
      <div class="col" style="padding: 5px 5px; margin-right:30px;">
        <p>Comments:{{ object.comments|default_if_none:"" }}</p>
      </div>
      <div class="col">
        <p><strong>Parts total: </strong>${{ parts_total|floatformat:2 }}</p>
        <p><strong>Tax: </strong>${{ tax|floatformat:2 }}</p>
        <p><strong>Labor total: </strong>${{ labor_total|floatformat:2 }}</p>
        <p><strong>TOTAL: </strong>${{ total|floatformat:2 }}</p>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col">
        <p>I agree that all work has been performed to my satisfaction</p>
        <p style="padding: 15px 0;">Signature:_____________________________</p>
        <p>Date:__________________</p>
      </div>
    </div>

  </div>

</body>

</html>
