{% extends "shop/base.html" %}

{% block filter_bar %}
  <div class="filter-item">
    <input type="checkbox" name="closed" id="check_closed" class="filter-button" {% if closed %}checked{% endif %}>
    <label for="check_closed" class="filter-button">Show closed</label>
  </div>
{% endblock filter_bar %}

{% block content %}
  <table class="order-table">
    {% for object in object_list %}
      <tr>
        <td><a href="{% url 'shop:order' object.id %}">{{ object }}</a></td>
        <td>{{ object.opened }}</td>
        <td>{{ object.get_mechanic_display }}</td>
      </tr>
    {% endfor %}
{% endblock content %}

