{% load static %}

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'css/print.css' %}" />
</head>

<body>

  <div class="container">

    <div class="row">
      <div class="col">
        <p>{{ user.profile.shop_header }}</p>
        <p>{{ user.profile.shop_header.address_line_1 }}</p>
        <p>{{ user.profile.shop_header.address_line_2 }}</p>
        <p>{{ user.profile.shop_header.city }}, {{ user.profile.shop_header.state }} {{ user.profile.shop_header.zip_code }}</p>
        <p>{{ user.profile.shop_header.phone_number }}</p>
      </div>
      <div class="col">
        <p><strong>Invoice #</strong> {{ object.id }}</p>
        <p><strong>Invoice Date:</strong></p>
        <p>{{ object.opened }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <p>{{ object.customer }}</p>
        <p>{{ object.customer.address_line_1 }}</p>
        <p>{{ object.customer.address_line_2 }}</p>
        <p>{{ object.customer.city }}, {{ object.customer.state }} {{ object.customer.zip_code }}</p>
        <p>{{ object.customer.phone_number }}</p>
      </div>
      <div class="col">
        <p><strong>Make: </strong>{{ object.truck.get_make_display|default_if_none:"_______________" }}{{ object.trailer.get_make_display|default_if_none:"_______________" }}</p>
        <p><strong>VIN: </strong>{{ object.truck.vin|default_if_none:"_______________" }}{{ object.trailer.vin|default_if_none:"_______________" }}</p>
        {% if object.truck %}
          <p><strong>Odometer: </strong>{{ object.truck.mileage|default_if_none:"__________" }}</p>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th>SERVICE and LABOR</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for job in object.orderjob_set.all %}
            <tr>
              <td>{{ job.job }}</td>
              <td style="width: 10%; text-align: center;">{{ job.amount }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th>
              <span>PARTS and MATERIAL</span>
            </th>
            <th>Price</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for part in object.orderpart_set.all %}
            <tr>
              <td>{{ part.part }}</td>
              <td style="width: 20%; text-align: right;">$ {{ part.part.price }}</td>
              <td style="width: 20%; text-align: center;">{{ part.amount }} {{ part.part.stock_unit }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <br>

    <div class="row">
      <div class="col" style="border: 1px solid #d2d2d2; width:80%; padding: 5px 5px;">
        <p>Comments:{{ object.comments|default_if_none:"" }}</p>
      </div>
      <div class="col">
        <p><strong>Parts total: </strong>{{ object.parts_total|default_if_none:"_______" }}</p>
        <p><strong>Tax: </strong>{{ object.tax|default_if_none:"_______" }}</p>
        <p><strong>Labor total: </strong>{{ object.labor_total|default_if_none:"_______" }}</p>
        <p><strong>TOTAL: </strong>{{ object.labor_total|default_if_none:"_______" }}</p>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col">
        <p>I agree that all work has been performed to my satisfaction</p>
        <p style="padding: 15px 0;">Signature:_____________________________</p>
        <p>Date:__________________</p>
      </div>
    </div>

  </div>

</body>

</html>
