{% extends "shop/base.html" %}

{% block content %}
  <p><strong>{{ object.part_number }}: {{ object.name }}</strong></p><br>
  <p><strong>Purchased for:</strong></p>
  {% for p in purchases %}
    <p>${{ p.price }} from {{ p.purchase.vendor }} on {{ p.purchase.date }}</p>
  {% endfor %}
  <br>
  <p><strong>Installed in:</strong></p>
  {% for o in orders %}
    <p>
      {% if o.order.truck %}
        <a href="{% url 'shop:order' o.order.id %}">{{ o.order.truck }} {{ o.order.truck.year }} {{ o.order.truck.get_make_display }}</a>
      {% else %}
        <a href="{% url 'shop:order' o.order.id %}">{{ o.order.trailer }} {{ o.order.trailer.year }} {{ o.order.trailer.get_make_display }}</a>
      {% endif %}
    </p>
  {% endfor %}
  <a href="{% url 'shop:assign_to_all' object.id truck %}"><p><strong>Assign to all trucks</strong></p></a>
  <a href="{% url 'shop:assign_to_all' object.id trailer %}"><p><strong>Assign to all trailers</strong></p></a>
{% endblock content %}

