{% extends "shop/base.html" %}

{% block content %}
  <table class="order-table shelves-table" >
    <thead>
      <tr><th>Filters</th></tr>
      <tr>
        <th> Shelf </th>
        <th> In stock </th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        {% if object.part_type.name == 'Lube filter' or object.part_type.name == 'Fuel filter' or object.part_type.name == 'Fuel/water separator' %}
          <tr class="{% if object.in_stock <= object.re_order %}restock1{% endif %}">
            <td>{{ object }}</td>
            <td>{{ object.in_stock }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}

