{% extends "shop/base.html" %}

{% block content %}

  <table class="order-table shelves-table" >
    <thead>
      <tr><th>Filters</th></tr>
      <tr>
        <th> Items </th>
        <th> In stock </th>
        <th> Re-order </th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        {% if object.part_type.name == 'Lube filter' or object.part_type.name == 'Fuel filter' or object.part_type.name == 'Fuel/water separator' %}
          <tr class="{% if object.in_stock <= object.re_order %}restock{% endif %}">
            <td>
              {% for part in object.part.all %}
                <a href="{% url 'shop:part' part.id %}">{{ part.part_number }}, </a>
              {% endfor %}
            </td>
            <td>{{ object.in_stock }}</td>
            <td><a href="{% url 'admin:shop_shelf_change' object.id %}">{{ object.reorder_amount }}</a></td>            
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <br>

  <table class="order-table shelves-table" >
    <thead>
      <tr><th>Brake shoes and drums</th></tr>
      <tr>
        <th> Items </th>
        <th> In stock </th>
        <th> Re-order </th>
        <th> Cheapest </th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        {% if object.part_type.name == 'Brake shoes' or object.part_type.name == 'Brake drum' or object.part_type.name == 'Brake pads' %}
          <tr class="{% if object.in_stock <= object.re_order %}restock{% endif %}">
            <td>
              {% for part in object.part.all %}
                <a href="{% url 'shop:part' part.id %}">{{ part.part_number }}, </a>
              {% endfor %}
            </td>
            <td>{{ object.in_stock }}</td>
            <td><a href="{% url 'admin:shop_shelf_change' object.id %}">{{ object.reorder_amount }}</a></td>            
            <td>{{ object.cheapest }}</a></td>            
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}

