{% extends "shop/base.html" %}

{% block content %}

<div class="shelves-row">

  <table class="order-table shelves-table" >
    <thead>
      <tr><th>Oil and fuel filters</th></tr>
      <tr>
        <th> Items </th>
        <th> In stock </th>
        <th> Re-order </th>
        <th> Cheapest </th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        {% if object.part_type.name == 'Lube filter' or object.part_type.name == 'Fuel filter' or object.part_type.name == 'Fuel/water separator' %}
          <tr class="{% if object.in_stock == 0 %}restock{% elif object.in_stock <= object.re_order %}restock2{% endif %}">
            <td>
              {% for part in object.part.all %}
                <a href="{% url 'shop:part' part.id %}">{{ part.part_number }}, </a>
              {% endfor %}
            </td>
            <td>{{ object.in_stock }}</td>
            <td><a href="{% url 'admin:shop_shelf_change' object.id %}">{{ object.reorder_amount }}</a></td>      
            <td>${{ object.cheapest|default_if_none:"0" }}</a></td>      
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <table class="order-table shelves-table" >
    <thead>
      <tr><th>Brake shoes and drums</th></tr>
      <tr>
        <th> Items </th>
        <th> In stock </th>
        <th> Re-order </th>
        <th> Cheapest </th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        {% if object.part_type.name == 'Brake shoes' or object.part_type.name == 'Brake drum' or object.part_type.name == 'Brake pads' %}
          <tr class="{% if object.in_stock == 0 %}restock{% elif object.in_stock <= object.re_order %}restock2{% endif %}">
            <td>
              {% for part in object.part.all %}
                <a href="{% url 'shop:part' part.id %}">{{ part.part_number }}, </a>
              {% endfor %}
            </td>
            <td>{{ object.in_stock }}</td>
            <td><a href="{% url 'admin:shop_shelf_change' object.id %}">{{ object.reorder_amount }}</a></td>            
            <td>${{ object.cheapest|default_if_none:"0" }}</a></td>            
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <table class="order-table shelves-table" >
    <thead>
      <tr><th>Tires</th></tr>
      <tr>
        <th> Items </th>
        <th> In stock </th>
        <th> Re-order </th>
        <th> Cheapest </th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        {% if object.part_type.name == 'Tire' %}
          <tr class="{% if object.in_stock == 0 %}restock{% elif object.in_stock <= object.re_order %}restock2{% endif %}">
            <td>
              {% for part in object.part.all %}
                <a href="{% url 'shop:part' part.id %}">{{ part.part_number }}, </a>
              {% endfor %}
            </td>
            <td>{{ object.in_stock }}</td>
            <td><a href="{% url 'admin:shop_shelf_change' object.id %}">{{ object.reorder_amount }}</a></td>            
            <td>${{ object.cheapest|default_if_none:"0" }}</a></td>            
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <table class="order-table shelves-table" >
    <thead>
      <tr><th>Wheel seals</th></tr>
      <tr>
        <th> Items </th>
        <th> In stock </th>
        <th> Re-order </th>
        <th> Cheapest </th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        {% if object.part_type.name == 'Wheel seal' %}
          <tr class="{% if object.in_stock == 0 %}restock{% elif object.in_stock <= object.re_order %}restock2{% endif %}">
            <td>
              {% for part in object.part.all %}
                <a href="{% url 'shop:part' part.id %}">{{ part.part_number }}, </a>
              {% endfor %}
            </td>
            <td>{{ object.in_stock }}</td>
            <td><a href="{% url 'admin:shop_shelf_change' object.id %}">{{ object.reorder_amount }}</a></td>            
            <td>${{ object.cheapest|default_if_none:"0" }}</a></td>            
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <table class="order-table shelves-table" >
    <thead>
      <tr><th>Brake chambers</th></tr>
      <tr>
        <th> Items </th>
        <th> In stock </th>
        <th> Re-order </th>
        <th> Cheapest </th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        {% if object.part_type.name == 'Brake chamber' %}
          <tr class="{% if object.in_stock == 0 %}restock{% elif object.in_stock <= object.re_order %}restock2{% endif %}">
            <td>
              {% for part in object.part.all %}
                <a href="{% url 'shop:part' part.id %}">{{ part.part_number }}, </a>
              {% endfor %}
            </td>
            <td>{{ object.in_stock }}</td>
            <td><a href="{% url 'admin:shop_shelf_change' object.id %}">{{ object.reorder_amount }}</a></td>            
            <td>${{ object.cheapest|default_if_none:"0" }}</a></td>            
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <table class="order-table shelves-table" >
    <thead>
      <tr><th>Brake adjusters</th></tr>
      <tr>
        <th> Items </th>
        <th> In stock </th>
        <th> Re-order </th>
        <th> Cheapest </th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        {% if object.part_type.name == 'Brake adjuster' or object.part_type.name == 'Clevis kit' %}
          <tr class="{% if object.in_stock == 0 %}restock{% elif object.in_stock <= object.re_order %}restock2{% endif %}">
            <td>
              {% for part in object.part.all %}
                <a href="{% url 'shop:part' part.id %}">{{ part.part_number }}, </a>
              {% endfor %}
            </td>
            <td>{{ object.in_stock }}</td>
            <td><a href="{% url 'admin:shop_shelf_change' object.id %}">{{ object.reorder_amount }}</a></td>            
            <td>${{ object.cheapest|default_if_none:"0" }}</a></td>            
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <table class="order-table shelves-table" >
    <thead>
      <tr><th>Brake camshafts</th></tr>
      <tr>
        <th> Items </th>
        <th> In stock </th>
        <th> Re-order </th>
        <th> Cheapest </th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        {% if object.part_type.name == 'S-cam' or object.part_type.name == 'S-cam kit' %}
          <tr class="{% if object.in_stock == 0 %}restock{% elif object.in_stock <= object.re_order %}restock2{% endif %}">
            <td>
              {% for part in object.part.all %}
                <a href="{% url 'shop:part' part.id %}">{{ part.part_number }}, </a>
              {% endfor %}
            </td>
            <td>{{ object.in_stock }}</td>
            <td><a href="{% url 'admin:shop_shelf_change' object.id %}">{{ object.reorder_amount }}</a></td>            
            <td>${{ object.cheapest|default_if_none:"0" }}</a></td>            
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <table class="order-table shelves-table" >
    <thead>
      <tr><th>Wheel bearings</th></tr>
      <tr>
        <th> Items </th>
        <th> In stock </th>
        <th> Re-order </th>
        <th> Cheapest </th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        {% if object.part_type.name == 'Wheel bearing' %}
          <tr class="{% if object.in_stock == 0 %}restock{% elif object.in_stock <= object.re_order %}restock2{% endif %}">
            <td>
              {% for part in object.part.all %}
                <a href="{% url 'shop:part' part.id %}">{{ part.part_number }}, </a>
              {% endfor %}
            </td>
            <td>{{ object.in_stock }}</td>
            <td><a href="{% url 'admin:shop_shelf_change' object.id %}">{{ object.reorder_amount }}</a></td>            
            <td>${{ object.cheapest|default_if_none:"0" }}</a></td>            
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock content %}

