@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
  /* outline: 1px dashed red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif', serif;
}

:root {
  --main-font-color: #3b3b3b;
  --main-bg-color: #fdfdfd;
  --content-bg-color: #ebebeb;
  --border-color: #d2d2d2;
  --table-row-even-bg-color: #f2f2f2;
  --table-row-odd-bg-color: white;
  --form-font-color: #5d5d5d;
}


html, body {
  height: 100%;
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

#wrapper {
  height: 100%;
  width: 100%;
  background-color: var(--content-bg-color);
  display: block;
}

#header {
  height: 44px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 5px 5px;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

#header a {
  font-size: 1.5rem;
}

#header-left {
  padding-left: 50px;
}

#header-right {
  padding-right: 20px;
}

#header-left li {
  margin-left: 30px;
  padding: .5rem 1rem;
}

#header-left li:hover {
  border: 1px solid;
  border-color: var(--border-color);
  border-bottom: none;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

#header li {
  display: inline;
}

#header .active {
  background-color: var(--content-bg-color);
  border: 1px solid;
  border-color: var(--border-color);
  border-bottom: none;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

ul {
  list-style-type: none;
}

#header-right li {
  margin-right: 10px;
}

#header-right a {
  font-size: 1rem;
}

#left-content-hide {
  position: fixed;
  top: 44px;
  left: 0px;
  width: 10px;
  height: 100%;
  display: block;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-content-hide {
  height: 50%;
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid var(--border-color);
  font-size: 1rem;
}

.left-content-hide:hover {
  border-color: gray;
  border-radius: 0.25rem;
}

#left-content {
  display: inline-block;
  z-index: 1;
  width: 200px;
  position: fixed;
  top: 43px;
  padding: 20px;
  padding-top: 40px;
  bottom: 0;
  border-right: 1px solid var(--border-color);
  background-color: inherit;
}

#left-content ul {
  list-style-type: none;
}

#left-content li {
  padding-bottom: 10px !important;
}

#left-content a {
  list-style-type: none;
  font-size: 1.2rem;
}

#left-content button {
  border: none;
  font-size: 1.2rem;
  color: inherit;
}

#left-content button:hover {
  cursor: pointer;
}

#address-panel {
  position: fixed;
  z-index: 1;
  height: 33px;
  top: 44px;
  right: 0;
  left: 199px;
  padding: 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--content-bg-color);
  overflow: hidden;
}

.page-title {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  font-style: italic;
}

#address-panel li {
  font-size: 0.8rem;
  display: inline;
  list-style-type: none;
  color: inherit;
}

#address-panel .address-line {
  padding-right: 20px;
}

#main-content {
  margin-left: 200px;
  margin-top: 77px;
  padding: 20px;
  height: 100%;
  position: relative;
  z-index: 0;
  background-color: var(--main-bg-color);
}

.font-small{
  font-size: 0.7rem!important;
}

.font-medium{
  font-size: 0.85rem!important;
}

.font-large{
  font-size: 1rem!important;
}

.form_field {
  margin: 10px 10px;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--form-font-color);
  background-color: white;
  background-clip: padding-box;
  border: 1px solid var(--border-color);
  border-radius: .25rem;
}

.btn {
  margin-top: 10px;
  padding: 3px 10px;
  font-size: 1.1rem;
}

.btn:hover {
  padding: 3px 10px;
  font-size: 1.1rem;
  cursor: pointer;
}

.errorlist {
  color: red;
  list-style-type: none;
  display: inline;
}

.choice_taken {
  color: red;
}

.colBox:hover {
  cursor: pointer;
}

.move_button {
  width: 40px;
}

.move_button:hover {
  width: 40px;
  cursor: pointer;
}


.listview-table {
  border-spacing: 0;
  padding: 0;
}

.listview-table thead th{
  position: sticky;
  top: 77px;
  background-color: var(--content-bg-color);
  text-align: center;
  padding: 1px 5px;
}

.listview-table tr:nth-child(even) {
  background-color: var(--table-row-even-bg-color);
}

.listview-table tr:nth-child(odd) {
  background-color: var(--table-row-odd-bg-color);
}

.formset_field tr td:last-child {
  background-color: var(--main-bg-color);
}

.listview-table td {
  text-align: center;
  padding: 1px 1px;
}

.listview-table td:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

.listview-table tr td:first-child {
  position: sticky;
  left: 10px;
  background-color: inherit;
}

.listview-table tr th:first-child {
  position: sticky;
  left: 10px;
  background-color: var(--content-bg-color);
  z-index: 1;
}

#filter-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}

.search-input {
  position: relative;
  left: -30px;
  padding-left: 36px;
  border-radius:22px;
  width: 20rem;
  height: 22px;
  border-width: 0;
}

.search-input:focus {
  border: none;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
}

.search-button:hover {
  cursor: pointer;
}

.search-button img{
  position: relative;
  top: 2px;
  height: 22px;
  z-index: 1;
}

.formset-table {
  border-spacing: 0;
  padding: 0;
}

.formset-table thead th{
  position: sticky;
  top: 77px;
  background-color: var(--content-bg-color);
  text-align: center;
  padding: 1px 5px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.formset-table tr th:first-child {
  position: sticky;
  left: 10px;
  background-color: var(--content-bg-color);
  z-index: 1;
  border-left: 1px solid var(--border-color);
}

.formset-table td {
  text-align: center;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.formset-table tr td:first-child {
  position: sticky;
  left: 10px;
  background-color: inherit;
  border-left: 1px solid var(--border-color);
}

.formset-table tr td:last-child {
  border: none;
}

.formset-table img {
  margin-left: 5px;
  padding-right: 5px;
  height: 16px;
}

.formset_field {
  outline: none;
  border: none;
  color: var(--main-font-color);
}

.formset_field:focus {
  color: var(--main-font-color);
  outline: none;
}

td .errorlist {
  font-size: 0.8rem;
  text-align: left;
}

.summary-link {
  display: none;
}

.summary-link-next {
  position: sticky;
  left: 10px;
  background-color: inherit;
  z-index: 1;
}

.summary-link-next {
  position: sticky;
  left: 10px;
  background-color: inherit;
  z-index: 1;
}

.summary-link-head {
  z-index: 2;
}

.summary-link-next:hover {
  cursor: pointer;
}

.filter-button:hover {
  cursor: pointer;
}
